<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: SOL FER EXE,
    Proyect: MundoCafe">
    {% load static %} 
    {%block solo_historia %}{%endblock%}
    {%block solo_contacto %}{%endblock%}
    {%block recetas_css %}{%endblock%}
    <link rel="stylesheet" href="{% static '../../static/core/styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static '../../static/core/styles/style.css' %}">
    <link rel="stylesheet" href="{% static '../../static/core/styles/animacion.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="shortcup icon" href="{% static '../../static/core/img/coffee-breaks.png' %}">
    
    
    <title>{%block title %}{%endblock%} - MundoCafe</title>
</head>

<body>

    <header>
        <div class="principal-nav">
            <div class="logo">
                <a href="{% url 'inicio' %}">
                    <h1 class="titulo">Mundo<span class="negrita">Café</span> </h1>
                </a>
            </div>

            <input type="checkbox" id="toggle">
            <label for="toggle"><img class="menu" src="{% static '../../static/core/img/menu.svg' %}" alt="menu"></label>

            <!-- barra desplegable -->
            <nav class="navigation">
                <ul>
                    <li> <a href="{% url 'historia' %}">Historia</a></li>
                    <li> <a href="{% url 'recetas' %}">Recetas</a>
                        <ul>
                            <li> <a href="{% url 'latte' %}">Latte</a></li>
                            <li> <a href="{% url 'capuccino' %}">Capuccino</a></li>
                            <li> <a href="{% url 'ice' %}">Ice Coffee</a></li>
                            <li> <a href="{% url 'recetas' %}">Mas Recetas...</a></li>
                        </ul>
                    </li>
                    <li> <a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {%block content %}{%endblock%}

    <footer class="footer">
        <div class="contenedor">
            <div class="barraNavegacion">
                <a href="{% url 'inicio' %}">
                    <h3 class="logo__nombre">Mundo Café</h3>
                </a>
                <!--iconos redes sociales-->
                <div class="icon">
                    <div class="icons">
                        <span><a href="https://www.facebook.com/" target="_blank">
                                <img class="icon" src="{% static '../../static/core/img/face.png' %}" alt="facebook">
                            </a></span>
                        <span><a href="https://github.com/" target="_blank">
                                <img class="icon" src="{% static '../../static/core/img/github.png' %}" alt="github">
                            </a></span>
                        <span><a href="https://www.google.com/" target="_blank">
                                <img class="icon" src="{% static '../../static/core/img/google.png' %}" alt="google">
                            </a></span>
                        <span>
                            <a href="https://outlook.live.com/" target="_blank">
                                <img class="icon" src="{% static '../../static/core/img/email.png' %}" alt="email">
                            </a>
                        </span>
                    </div>
                </div>
                {% static '' %}
                <div>
                    <p class="footer-by">By Sol, Exe & Fer Group20</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>