{% extends "core/base.html" %}

{%block title %}Contacto{%endblock%}
{%block solo_contacto %}<link rel="stylesheet" href="styles/formulario.css">{%endblock%}
    
{%block content%}    
    <!--main-->
    <main>
        <section class="contacto fuente">
            <div id="tituloFormulario">
                <h2>Contactanos</h2>
                <p>Somos expertos!!</p>
            </div>
            <form id="formularioContacto" method="post" autocomplete="on" onsubmit="rtaRegistrada()" target="_self">
                <label for="name">Nombre <span class="oblig">*</span></label><br>
                <input class="full-ancho renglon" type="text" id="name" name="name" placeholder="Nombre Apellido"
                    required>
                <br>
                <label for="email">Correo electrónico <span class="oblig">*</span></label><br>
                <input class="full-ancho renglon" type="email" id="email" name="email" placeholder="ejemplo@email.com"
                    required>
                <br>

                <label for="tipoConsulta">Tipo de consulta <span class="oblig">*</span></label><br>
                <select class="full-ancho renglon" id="tipoConsulta" name="tipoConsulta" required>
                    <option value=""> Seleccione una opción</option>
                    <option value="general">Pregunta general</option>
                    <option value="receta">Sugerencia de receta de café</option>
                    <option value="semillas">Consulta sobre semillas de café</option>
                </select>
                <br>

                <label for="subject">Asunto <span class="oblig">*</span></label><br>
                <input class="full-ancho renglon" type="text" id="subject" name="Asunto" placeholder="Asunto" required>
                <br>

                <label for="message">Mensaje <span class="oblig">*</span></label><br>
                <textarea class="full-ancho borde-full" id="message" name="message" rows="7" placeholder="mensaje" required></textarea>
                <br>
                <input class="arch" type="file" required>
                
                <br>
                <input class="inline" type="checkbox" id="newsletter" name="newsletter">
                <label for="newsletter">¿Desea recibir nuestro boletín informativo?</label>

                <br>
                <input class="inline" type="checkbox" id="privacidad" name="privacidad" value="accepted" required>
                <label for="privacidad"> * He leído y acepto la <a id="linkpoliticas" href="#">Política de Privacidad</a> de MundoCafé.</label>


                <br>
                <p>* Campos obligatorios.</p>

                <input class="full-ancho borde-full boton" type="submit" id="enviar" value="Enviar">

                <div id="rta">
                    <p>Se ha registrado su respuesta.</p>
                </div>
                <div class="logo1">
                    <a href="{% url 'inicio' %}">
                        <h2 class="titulo">Mundo<span class="negrita">Café</span> </h2>
                    </a>
                </div>

            </form>

            <div class="map-responsive">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201169.3703163874!2d-57.765343077742365!3d-38.01745163613915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d94d19d34209%3A0xdd9670804bfed126!2sMar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1715732223595!5m2!1ses-419!2sar"
                    width="430" height="350" style="border: 5px solid #000;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>
    </main>

    <!-- ¡Scripts! -->
    <script src="js/formulario.js"></script>
    {%endblock%}