{% extends "core/base.html" %}

{%block title %}Historia{%endblock%}

{%block solo_historia %}<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">{%endblock%}


{%block content%}  
        <main>
            <div class="contenedor elaboracion historia-intro">
                <img class="historia-intro" src="img/57_cafe.webp" alt="portada-hisotria">
            </div>
            <div class="contenedor">
                <h2 class="no-margin historia-titulo">Conocé dónde surgió el café</h2>
            </div>
    
            <div class="border">
            </div>
    
            <div class="historia-contenido contenedor">
                <p>Es una de las bebidas más consumidas en el mundo, omnipresente en nuestro país. Sin el café no se
                    entienden desayunos ni sobremesas. Pero además de ser una de las bebidas más consumidas en el mundo,
                    el origen del café es una historia llena de curiosidades.</p>
    
                <p>La historia del café empieza en el cuerno de África, en Etiopía, sobre el siglo IX. Se sabe el origen
                    geográfico, la provincia de Kaffa, pero no el momento exacto, ya que no existen documentos sobre
                    cuándo el hombre empezó a consumir granos de café.</p>
    
                <p>La leyenda cuenta que un miembro de la tribu de Kaldi, habitantes de las zonas de más altitud de Etiopía,
                    observó como las cabras tenían mucha más energía tras comer un tipo de frutos, parecidos a
                    las cerezas. Al probarlas él mismo, descubrió las propiedades energizantes y excitantes y las trasladó a
                    su tribu.</p>
    
                <p>Sea cierta o no esta leyenda sobre el origen del café, de lo que no cabe duda y está documentado es que
                    en el siglo XV había plantaciones en Yemen y un gran comercio de café entre Sudán y Arabia a
                    través del puerto yemení de Moca. Esta ciudad, además de dar nombre a un tipo de café y una cafetera,
                    también era el principal puerto en la ruta hacia La Meca. Allí es donde aparecieron los primeros
                    establecimientos que servían café, los llamados “kaveh kanes”. Estos locales pronto se convirtieron en
                    centros sociales
                    y de actividad política, incluso fueron prohibidos en varias épocas.</p>
    
                <div class="elaboracion">
                    <img loading="lazy" src="img/tipos.webp" alt="elaboracion de cafe">
                </div>
            </div>
    
            <section>
                <div class="contenedor">
                    <h2 class="tipos-granos historia-titulo">Diferentes tipos de granos de café por descubrir</h2>
    
                    <div class="border">
                    </div>
    
                    <div class="granos">
                        <p>Aunque existen literalmente cientos de variedades de café para deleitar nuestras papilas
                            gustativas, todos los granos de café que se cultivan se dividen en uno de
                            los cuatro tipos principales</p>
    
                        <ul>
                            <li>Arabica</li>
                            <li>Robusta</li>
                            <li>Liberica</li>
                            <li>Excelsa</li>
                        </ul>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div>
                    <h2 class="contenedor historia-cultura">Arabica para un suave dulzor</h2>
                </div>
    
                <div class="border">
                </div>
    
                <div class="contenedor historia-contenido">
                    <p>Estos granos de café son conocidos por su sabor suave, con toques de chocolate, caramelo, frutos
                        secos y bayas. Existen muchos subtipos de café Arabica, pero es apreciado debido a su contenido de
                        cafeína relativamente bajo,
                        combinado con sus elevados azúcares y sabores naturales.
                        Muchos expertos coinciden en que el Arabica es el mejor café para tomarlo solo (o con el un mínimo
                        toque de leche), ya sea usando una cafetera de goteo o una cafetera espresso en casa.</p>
    
                </div>
    
                <div>
                    <h2 class="contenedor historia-cultura">Robusta para mayor intensidad y fuerza</h2>
                </div>
    
                <div class="border">
                </div>
    
                <div class="contenedor historia-contenido">
                    <p>El grano Robusta tiene un sabor más duro y amargo, y un contenido de cafeína más elevado que el
                        Arabica. Su sabor único se describe a menudo como terroso o amaderado.
                        El fuerte grano Robusta es ideal para el espresso, ya que proporciona una crema rica y deliciosa,
                        espesa y sabrosa. Si te gusta la crema, Robusta es la variedad de
                        café perfecta para ti.</p>
                </div>
    
                <div>
                    <h2 class="contenedor historia-cultura">Liberica para un sabor ahumado y especiado</h2>
                </div>
    
                <div class="border">
                </div>
    
                <div class="contenedor historia-contenido">
                    <p>Sus granos tienen una forma irregular y son mucho más grandes que los granos de Arabica o Robusta. Su
                        sabor es ahumado, con notas de madera y nuez, con matices de bayas y especias.
                        Por sí sola, la mejor forma de preparar el Liberica es en una máquina de café de filtro, solo o con
                        azúcar.
    
                        Si consigues hacerte con este café poco común, prueba a mezclarlo con Arabica para obtener un
                        espresso con un toque distintivo. Es una excelente base para un café con leche o
                        capuchino especial con espuma de leche..</p>
                </div>
    
                <div>
                    <h2 class="contenedor historia-cultura">Excelsa para un sabor ácido y afrutado</h2>
                </div>
    
                <div class="border">
                </div>
    
                <div class="contenedor historia-contenido">
                    <p>Los granos con forma de almendra producen un sabor ácido, afrutado y complejo tanto de café tostado
                        claro como oscuro.
    
                        Puedes preparar una taza de excelente café con el método de goteo o de vertido, pero una prensa
                        francesa también funciona bien. Y, al igual que el Liberica, va genial en mezcla: añade un toque
                        misterioso y abre una enorme variedad de sabores intrigantes con los
                        que experimentar en casa.</p>
                </div>
    
                <div class="tipos-granos">
                    <img loading="lazy" src="img/cafe7.webp" alt="granos de cafe">
                </div>
    
    
                <div>
                    <h2 class="contenedor historia-cultura">Cultura del café en diferentes culturas</h2>
                </div>
    
                <div class="border">
                </div>
    
                <div class="contenedor historia-contenido">
                    <p>Comenzando por <span class="negrita">Europa</span> , descubriremos que en Italia, el país natal del
                        espresso, es posible beber un Espresso Romano, en concreto, una única medida servida con cáscara de
                        limón fresca en el borde de la taza. En España, el Café Bombón, originario de Valencia y también
                        conocido como "café dulce",
                        se hace en un vaso transparente en el cual se pueden admirar sus hermosas capas blanca y negra
                        hechas
                        con leche condensada dulce y espresso arriba.</p>
    
                    <div class="cafe-europa">
                        <img loading="lazy" class="foto1" src="img/recetas/cafe_romano.webp" alt="cafe romano">
                        <img loading="lazy" class="foto2" src="img/recetas/cafeBonBon.webp" alt="cafe bon bon">
                        <p class="sub nombre1">Café Romano</p>
                        <p class="sub nombre2">Café Bon Bon</p>
                    </div>
                </div>
            </section>
    
    
            <div class="contenedor historia-contenido">
                <p><span class="negrita">Latinoamérica</span> puede ofrecer diversas variedades cuando de servir café se
                    trata. El Café de Olla, preparado con café molido de tueste oscuro, azúcar en bruto, cinnamon y
                    otras especias, es muy popular en México, donde se sirve en una taza con cáscara de naranja. Al ser un
                    ícono del estilo cultural de Cuba , el café es altamente apreciado en ese país.
                    Un café cubano es una deliciosa medida de espresso que incluye una capa gruesa de crema dulce. Si visita
                    Colombia, podrá probar un exquisito Café con leche, una versión local rápida y fácil de
                    esta bebida preparada con granos de café recién molidos y leche caliente. Por último, el Café Lágrima es
                    considerado un arte en las cafeterías argentinas y es perfecto para quienes prefieren café menos fuerte,
                    dado que consiste en una taza de espresso llena de leche y manchada con una gota de café.</p>
    
                <div class="cafe-europa">
                    <img loading="lazy" class="foto1" src="img/recetas/cafeOlla.webp" alt="cafe-olla">
                    <img loading="lazy" class="foto2" src="img/recetas/cafe_lagrima.webp" alt="cafe-lagrima">
                    <p class="sub nombre1">Café de Olla</p>
                    <p class="sub nombre2">Café Lágrima</p>
                </div>
            </div>
    
            <div class="cierre">
                <h2 class="cierre-final">¡Muchas gracias por habernos visitado!</h2>
            </div>
        </main>
{%endblock%}