{%extends "core/base.html"%}

{%block title %}Latte{%endblock%}
{% load static %} 
{%block recetas_css %}<link rel="stylesheet" href="{% static '../../static/core/styles/recetas.css' %}">{%endblock%}
    
{%block content%}

<!--main-->   
        
    <main>
        <section class="contenedor">
            <div class="receta-cafe">
                <div>
                    <img class="receta-img" src="{% static '../../static/core/img/recetas/coffe_lattemachiato.webp' %}" alt="cafe-latte">
                </div>

                <div class="titulo-ingrediente">
                    <h3>Ingredientes</h3>

                    <ul class="ingredientes">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </div>
            </div>

            <div>
                <h3 class="preparacion">Preparacion</h3>

                <div class="border"></div>

                <div class="preparacion-receta">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim eaque doloremque quidem, sint molestiae voluptate animi maxime odio doloribus, 
                    itaque vel optio ipsum nesciunt nostrum sed illo, omnis repellendus.</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus enim eaque doloremque quidem, sint molestiae voluptate animi maxime odio doloribus, 
                    itaque vel optio ipsum nesciunt nostrum sed illo, omnis repellendus.
                </p>  
                </div>
 
            </div>
        </section>    
    </main>
{%endblock%}