{%extends "core/base.html"%}
{% load static %} 
{%block title %}Recetas{%endblock%}

{%block recetas_css %}<link rel="stylesheet" href="{% static '../../static/core/styles/recetas.css' %}">{%endblock%}
    
{%block content%}
    
    <div class="body">
        <div class="slider">
            <!--lista de recetas a mostrar en grande-->
            <div class="list">
                <!--items de la lista-->
                {% for receta in recetas %}
                <div class="item">
                    <img src="{{receta.image.url}}" alt="cafe {{receta.name}}">
                    <div class="content">
                        <div class="title">Coffee</div>
                        <div class="type">{{receta.name}}</div>
                        <div class="description">{{receta.description}}</div>
                    </div>
                </div>
                {% endfor %} 
            </div> 
            <!--fin lista-->    
            
            <!--carousel de miniaturas-->
            <div class="thumbnail">
                <!--items del carrousel de miniaturas-->
                {% for receta in recetas %}
                <div class="item">
                    <img loading="lazy" src="{{receta.image.url}}" alt="cafe {{receta.name}}">
                </div>
                {% endfor %} 
            </div>
            <!--fin carousel-->
            
        
            <!-- button atras y adelante -->
            <div class="nextPrevArrows">
                <button class="prev">&lt;</button>
                <button class="next">&gt;</button>
            </div>
        </div> 
        <!--fin slider-->
      
    </div> 
    <!--fin div.body-->

    <!-- Script -->
    <script src="{% static '../../static/core/js/app.js' %}"></script>
  
    
   

{%endblock%}
